<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:icon="@drawable/ic_launcher"
        android:label="AIJ"
        android:theme="@style/Theme.Material3.DayNight.NoActionBar">
        <activity
            android:name=".splash.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".auth.AuthActivity" />

        <activity android:name=".home.HomeActivity" />
        <activity android:name=".home.DeveloperActivity" />

        <activity android:name=".branch.BranchListActivity" />

        <activity android:name=".college.CollegeListActivity" />
        <activity android:name=".college.CollegeDetailActivity" />

        <activity android:name=".university.UniversityListActivity" />
        <activity android:name=".university.UniversityDetailActivity" />

        <activity android:name=".city.CityListActivity" />
        <activity android:name=".city.AddressListActivity" />
    </application>
</manifest>
