<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:icon="@drawable/ic_launcher"
        android:label="AIJ"
        android:theme="@style/Theme.MaterialComponents.DayNight.DarkActionBar">
        <activity
            android:name=".splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".reg.LoginActivity" />
        <activity android:name=".reg.RegisterActivity" />

        <activity android:name=".home.HomeScreenActivity" />

        <activity android:name=".home.CollageListActivity" />
        <activity android:name=".home.DetailCollageActivity" />

        <activity android:name=".home.BranchListActivity" />

        <activity android:name=".home.UniversityListActivity" />
        <activity android:name=".home.DetailUniversityActivity" />

        <activity android:name=".home.HelpCenterListActivity" />

        <activity android:name=".home.BankBranchListActivity" />

        <activity android:name=".home.DeveloperActivity" />

        <activity android:name=".aij.AijExplorerActivity" />
        <activity android:name=".aij.HomeScreenAijActivity" />
        <activity
            android:name=".aij.CourseActivity"
            android:parentActivityName=".aij.HomeScreenAijActivity" />
        <activity
            android:name=".aij.ContactUs"
            android:parentActivityName=".aij.HomeScreenAijActivity" />
    </application>
</manifest>
