<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:icon="@drawable/ic_launcher"
        android:label="AIJ"
        android:theme="@style/Theme.Material3.DayNight.NoActionBar">
        <activity
            android:name=".splash.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".login.LoginActivity" />
        <activity android:name=".login.RegisterActivity" />

        <activity android:name=".home.HomeActivity" />

        <activity android:name=".college.CollegeListActivity" />
        <activity android:name=".college.CollegeDetailActivity" />

        <activity android:name=".branch.BranchListActivity" />

        <activity android:name=".university.UniversityListActivity" />
        <activity android:name=".university.UniversityDetailActivity" />

        <activity android:name=".helpcenter.HelpCenterListActivity" />

        <activity android:name=".bankbranch.BankBranchListActivity" />

        <activity android:name=".home.DeveloperActivity" />

        <activity android:name=".aij.AijExplorerActivity" />
        <activity android:name=".aij.AijActivity" />
        <activity
            android:name=".aij.CourseActivity"
            android:parentActivityName=".aij.AijActivity" />
        <activity
            android:name=".aij.ContactActivity"
            android:parentActivityName=".aij.AijActivity" />
    </application>
</manifest>
